[submodule "hs/nodejs-externs"]
	path = hs/nodejs-externs
	url = https://github.com/dcodeIO/node.js-closure-compiler-externs.git
[submodule "typings"]
	path = typings
	url = git@github.com:atom-haskell/typings.git
